*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

/* input:focus,
button:focus {
  outline: none;
} */
.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right bottom,#31336b,#bd824ee3);
}
.App-wrapper{
  /* background-color: black; */
  min-width: 450px;
  min-height: 550px; 
  padding: 30px;
  border-radius: 10px;
  box-shadow: 17px 20px 60px black;
  margin-bottom: 10px;

}
@media (max-width:576px){
  
  .App-wrapper{
    min-width: 150px;
  min-height: 733px;
  padding: 30px;
    
    
  
  }

}